/**
 * custom.css
 * Some simple styling to customize the Bootstrap look.
 *
 * @author Nathan Campos <nathan@innoveworkshop.com>
 */

/* Navigation Bar */
.navbar {
	margin-bottom: 20px;
}

/* Entry List */
.entry-item .category {
	color: #929292;
}

.entry-item:hover, .entry-item:active {
	background-color: #F1F1F1;
}

/* Final Report */
#final-report .total {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 1.5em;
}

